.category {
    &-menu {
        width: 264px;
        background: white;
        border-right: 2px solid gainsboro;

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    &-list {
        list-style: none;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: var(--s-lg);

        @media screen and (max-width: 767px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: var(--s-sm);
        text-decoration: none;
        color: inherit;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}