.navbar{
    width: 100%;
    background: var(--primary);
    color: white;

    &-list{
      display: flex;
      justify-content: center;
      list-style: none;
      align-items: center;
      padding: var(--s-sm);
      font-size: var(--f-md);
    }
    
    &__brand{
      font-size: var(--f-lg);
      font-weight: bold;
      text-decoration: none;
      color: inherit;
    }

    &__item{

      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-search{
      width: 40%;
    }

    &-search-form{
      margin-inline: var(--s-lg);
      display: flex;
      flex-direction: row;

      &__input{
        padding: var(--s-xs);
        width: 100%;
      }

      &__button{
        background: var(--primary);
        border: 1px solid white;
        padding: var(--s-xs);
      }
    }
  }
  
  