.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: var(--s-md);

    &__button {
        text-decoration: none;
        background: var(--primary);
        border: 1px solid white;
        padding: var(--s-xs);   

        color: white;
        font-size: var(--f-lg);

        &:hover{
            box-shadow: 
                rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

        &--disabled{
            background: white;
            color: gray;
            border: 1px solid gray;
            cursor: default;

            &:hover{
                box-shadow: none;
            }
        }
    }

    &__text{
        font-size: var(--f-lg);
        margin-inline: var(--s-sm);
    }
}