.product{
    &-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, 220px);
        justify-content: space-between;
        row-gap: var(--s-lg);
        height: 100%;
        padding: var(--s-lg);
    }

    &-item{
        display: grid;
        grid-template-rows: 200px repeat(2,auto);
        background: white;
        padding: var(--s-sm);

        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}